* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  width: 100%;
  height: auto;
  color: #2d2f31;
}

p {
  font-size: 14px;
}

.label-cart {
  position: fixed;
  top: 15;
  right: 10;
  z-index: 4;
  cursor: pointer;
}

.logo {
  position: fixed;
  background-color: #2d2f31;
  color: grey;
  width: 100%;
  text-align: center;
  padding: 15px 420px 15px 60px;
  top: 0;
  z-index: 2;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  height: 100%;
  background-color: #f6f8fa;
  z-index: 1;
  padding-top: 70px;
}

.sidebar-menu {
  width: 100%;
  text-align: center;
  padding: 10px 5px;
  left: 5px;
  color: #61666b;
}

.sidebar-menu p {
  margin-top: 20px;
  text-decoration: none;
  font-size: 0.7rem;
  line-height: 1.5;
  color: #61666b;
}

.sidebar-menu:hover {
  border-right: 2px solid yellow;
  color: yellow;
}

.sidebar-menu:hover > a {
  color: yellow;
}

.dashboard {
  width: 100%;
  height: 100vh;
  padding-right: 360px;
  padding-left: 60px;
}

.dashboard-banner {
  width: 100%;
  height: 450px;
  position: relative;
  margin-top: 3rem;
  padding: 2rem;
  border-radius: 30px;
  cursor: pointer;
}

.dashboard-banner > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.banner-promo {
  position: absolute;
  color: #949090;
  top: 40%;
  left: 10%;

  font-weight: 800;
}

.banner-promo > h1 > span {
  color: yellow;
}

.dashboard-title {
  padding: 0 1rem;
}

.dashboard-menu {
  display: flex;
  gap: 10px;
  padding: 0.3rem 1rem;
  overflow-x: auto;
}

.dashboard-menu > a {
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
  min-width: 120px;
  padding: 0.5rem 0;
  font-size: 0.9rem;
  color: #2d2f31;
  background-color: gray;
}

.dashboard-menu > a:hover {
  background-color: red;
  color: grey;
}

.dashboard-content {
  width: 350px;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(auto-fit, min-max(250px, 1fr));
  gap: 20px;
  padding: 0.5rem 1rem 1rem 1rem;
}

.dashboard-card {
  background-color: #f6f8fa;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  gap: 10;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}

.card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
  grid-template-columns: repeat(3, 1fr);
}

.dashboard-card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-detail {
  padding: 10px;
}

.card-detail > h4 > span {
  float: right;
}

.card-time {
  color: gray;
  font-size: 0.8rem;
  padding-top: 10px;
  display: flex;
}

.dashboard-order {
  width: 340px;
  min-height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.5rem 1.5rem;
  background-color: #f6f8fa;
  z-index: 3;
}

.dashboard-order > h3 {
  padding: 10px 0;
}

.order-address > h4 {
  line-height: 2;
}

.order-time {
  font-size: 0.8rem;
  color: gray;
}

.order-wrapper {
  display: flex;
  height: 180px;
  width: 100%;
  overflow-y: scroll;
  margin: 20px 0;
}

/* custom scroll */

.order-wrapper::-webkit-scrollbar {
  width: 7px;
}

.order-wrapper::-webkit-slider-thumb {
  background-color: gray;
  border-radius: 20px;
}

.order-card {
  display: grid;
  grid-template-columns: 0.6fr 1fr 0.5fr;
  padding: 10px 0;
  gap: 5px;
  justify-content: space-around;
  align-items: flex-start;
}

.order-image {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 15px;
}

.order-datail > input {
  width: 35px;
  height: 35px;
  text-align: center;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: transparent;
  margin-left: 10px;
}

.divider {
  width: 100%;
  border: 1px dashed gray;
}

.order-total > p {
  padding: 10px 0;
}

.order-total > p > span {
  float: right;
  font-weight: 600;
}

.order-promo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border: 2px solid gray;
  border-radius: 10px;
  height: 45px;
  padding: 0 5px;
  margin: 5px 0 10px 0;
}

.input-promo {
  height: 100%;
  background-color: transparent;
  border: none;
}

.button-promo {
  float: right;
  background-color: yellow;
  border: none;
  border-radius: 5px;
  height: 80%;
  width: 100%;
  cursor: pointer;
}

.checkout {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: red;
  border: none;
  border-radius: 20px;
  color: gray;
  cursor: pointer;
}

.checkout:hover {
  text-transform: uppercase;
  font-weight: 600;
}

#card {
  display: none;
}

#card:checked ~ .label-cart {
  color: gray;
}

#card:chacked ~ .dashboard-order {
  display: none;
}

#card:chacked ~ .logo {
  padding-right: 0px;
}

@media screen and (max-width: 680px) {
  .dashboard {
    padding-right: 0;
  }

  .dashboard-order {
    width: 100%;
    height: 0;
  }
}
